<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<div class="container">
<div class="new_assessment_wrapper_main" style="height:400px;margin-top:0;">
   <div style="clear:both;padding-top:5px;"></div>
   <div class="new_assessment_breadcrum">
      <h1 class="new_assessment_heading">
         Know your Right Career Options After 10th!
         <br>
         And Get Better Career Guidance After 10th
      </h1>
   </div>
   <div style="clear: both;"></div>
   <div class="new_assessment_container">
      <div class="new_assessment_stream_sub_heading">
         <div class="new_assessment_Points">
            <ul>
               <li>Psychometric Assessment for Stream Selection is the best way to know your right
                  stream after 10th class. Discover it today.
               </li>
               <li>Represents the potential of an individual in terms of Interest and Aptitude. Once
                  you know your potential it will be easy to take decisions related to subjects.
               </li>
            </ul>
         </div>
         <div style="float: left; width: 560px; margin-left: 20px; margin-top: 10px;">
            <div style="float: left;">
               <img id="imgRecommend" src="http://www.meracareerguide.com/images-mcg/Lets-Start-Assessment.png" alt="recommended" class="blinkme" style="position:absolute;top:161px;left:276px;">
               <div class="new_assessment_page_button">
                  <div style="height: 30px; width: 350px;">
                     <a href="/assessment-personal-details.aspx" class="new_assessment_orange_button" onclick="_gaq.push(['_trackEvent', 'AssessmentMainPages', 'Stream', 'ButtonClick-1st']);">
                     Start Stream Selector »</a>
                  </div>
               </div>
               <div style="float: left; margin-left: 0px; margin-top: 8px;">
                  <div class="report_faster">
                     <a href="/career-counselling-for-graduate-student-enroll?s=asmnt" id="ctl00_ctContentMiddle_ctrl_aStream" style="margin-left: 4px;" onclick="_gaq.push(['_trackEvent', 'AssessmentMainPages', 'Stream', 'PayNowLinkClick-1st']);">
                     &amp; unlock report @ Rs.999</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="new_ideal_image_top" style="margin-top:-13px;">
      <div class="he-wrap tpl6">
         <a href="/assessment-personal-details.aspx" target="_blank" onclick="_gaq.push(['_trackEvent', 'AssessmentMainPages', 'Stream', 'ImageClick-1st']);">
         <img src="http://www.meracareerguide.com/images-mcg/career-counselling-10th-class-student.png" border="0" alt="Career-Options-Guidance-After-10th-Courses"></a>
      </div>
      <div style="float: left; margin:15px 0 0 -33px;position:absolute;width:365px;cursor:pointer">
         <a style="color: #676565; font-size:20px; text-decoration: underline;" onclick="_gaq.push(['_trackEvent', 'AssessmentMainPages', 'Stream', 'SampleReport-2nd']);popupopen_sampleReport('divPopupSampleReport','http://www.meracareerguide.com/sample-report-stream-suggestor/sample-report.pdf');">
         <span class="NewAssessmentPage PDFIcon" style="margin:10px 5px 3px"></span>Sample Report for Stream Selector</a>
      </div>
   </div>
   <div style="clear: both;"></div>
   <div id="dvtriggerHoverSampleRpt"></div>
</div>
</div>
