<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<div class="container">
   <div class="new_engineering_assessment_wrapper">
      <div style="clear:both;padding-top:5px;"></div>
      <div class="new_assessment_breadcrum">
         <h1 class="new_assessment_heading">
            Know your Ideal Engineering Branch!
            <br>
            And train your way to a brighter career
         </h1>
      </div>
      <div style="clear: both;"></div>
      <div class="new_engineering_assessment_container" style="margin-top:0;">
         <div class="new_assessment_engineering_sub_heading">
            <div class="new_assessment_Points">
               <ul>
                  <li>Psychometric Assessment for Engineering Branch Selection is the best way to know
                     your right Engineering Branch. Discover it today.
                  </li>
                  <li>Provides you personalized preferential analysis of different engineering branches.
                     The report also shares brief knowledge about all the AICTE approved Engineering
                     Branches. 
                  </li>
               </ul>
            </div>
            <div style="float: left; width: 560px; margin-left: 10px; margin-top: -8px;">
               <div style="float: left;">
                  <img id="img1" src="http://www.meracareerguide.com/images-mcg/Lets-Start-Assessment.png" alt="recommended" class="blinkme" style="position:absolute;top:165px;left:276px;">
                  <div class="new_assessment_page_button">
                     <div style="height: 30px; width: 420px;">
                        <a href="/assessment-personal-details-engineering.aspx" class="new_assessment_orange_button_humanities" onclick="_gaq.push(['_trackEvent', 'AssessmentMainPages', 'Engineering', 'ButtonClick-1st']);">
                        Start Engineering Branch Selector »</a>
                     </div>
                  </div>
                  <div style="float: left; margin-left: 0px; margin-top: 0px;">
                     <div class="report_faster">
                        <a href="/career-counselling-for-graduate-student-enroll?s=asmnt" id="ctl00_ctContentMiddle_ctrl_aEngineering" style="margin-left: 4px;" onclick="_gaq.push(['_trackEvent', 'AssessmentMainPages', 'Engineering', 'PayNowLinkClick-1st']);">
                        &amp; unlock report @ Rs.999</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="new_engineering_image_top">
         <div class="he-wrap tpl6">
            <a href="/assessment-personal-details-engineering.aspx" target="_blank" onclick="_gaq.push(['_trackEvent', 'AssessmentMainPages', 'Engineering', 'ImageClick-1st']);">
            <img src="http://www.meracareerguide.com/images-mcg/career-counselling-11th-engineering-class-student.png" alt="Engineering Branch Selector" border="0"></a>
         </div>
         <div style="float: left;margin:30px 0 0 -75px;position:absolute;width:480px;cursor:pointer;">
            <a style="color: #676565; font-size:20px; text-decoration: underline;" onclick="_gaq.push(['_trackEvent', 'AssessmentMainPages', 'Engineering', 'SampleReport-2nd']);popupopen_sampleReport('divPopupSampleReport','http://www.meracareerguide.com/sample-report/Engineering-Branch-Assessment-report.pdf');">
            <span class="NewAssessmentPage PDFIcon" style="margin:10px 5px 3px"></span>Sample Report for Engineering Branch Selector</a>
         </div>
      </div>
      <div style="clear: both;"></div>
   </div>
</div>
