<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<div class="container">
   <div class="col-md-12">
   <h1 class="heading" style="color: #333333; font-family: Calibri, Arial; font-size: 23px; font-weight: bold;">Take Psychometric Career Assessment &amp; Expert Guidance From Career Counsellors</h1>
   </div>
   <div class="col-md-12">
      <div class="row">
         <div class="col-md-8">
            <div style="border-top: 1px solid #f6f6f6;margin-top: 12px"></div>
            <div style="clear: both;padding-top: 10px;"></div>
            <div class="new_assessment_sub_heading" style="margin-left:10px;width:100%;">
               <div class="new_assessment_Points">
                  <ul>
                     <li>Find out about your natural inclination for further studies and jobs.</li>
                     <li>A personalized career profile report of an individual is generated.</li>
                     <li>Target your strengths and weaknesses with online psychometric test.</li>
                     <li>Take expert guidance from expert career counsellor to help your decision.</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-4">
               <div style="clear:both;padding-top:15px;"></div>
               <img src="http://www.meracareerguide.com/Images-MCG/Standing-Girl-3.png" alt="Online-Psychometric-Career-Assessment-Test">
         </div>      
      </div>
      <div class="row">
         <div class="col-md-12">      
<div class="clear"></div>
<div style="margin-top:-154px;">
   <div class="package_tenth_class newheight homeboxhover">
      <a onclick="_gaq.push(['_trackEvent', 'AssessmentMainPages', 'Stream', 'OtherTabHoverStartTest']);" href="/what-to-do-after-10th">
         <div border="1" class="home_box_hover1" style="display: block;">
            <div class="assesment_background tenth_assessment"></div>
            <div class="tenth_heading_name">Stream<br>Suggestor</div>
         </div>
         <div border="1" class="home_box_hover2" style="display: none;">
            <div class="package_tenth_hover">
               <div class="streamtop"></div>
               Discover which subject field is right for you after 10th
               <div class="learn_more_gap">
                  Learn More
                  <span class="NewAssessmentPage linkcircle">&nbsp;</span>
               </div>
            </div>
         </div>
         <div class="new_all_assessment_orange_button">
            <div>For 10th Class</div>
         </div>
      </a>
   </div>
   <div class="package_tenth_class newheight homeboxhover">
      <a onclick="_gaq.push(['_trackEvent', 'AssessmentMainPages', 'Engineering', 'OtherTabHoverStartTest']);" href="/how-to-choose-right-engineering-branch">
         <div class="home_box_hover1" border="1" style="display: block;">
            <div class="assesment_background engineering_assessment"></div>
            <div class="tenth_heading_name">Engineering<br>Branch Selector</div>
         </div>
         <div border="1" class="home_box_hover2" style="display: none;">
            <div class="package_tenth_hover">
               <div class="engtop"></div>
               Discover which Engineering Branch is suitable for you
               <div class="learn_more_gap">
                  Learn More
                  <span class="NewAssessmentPage linkcircle">&nbsp;</span>
               </div>
            </div>
         </div>
         <div class="new_all_assessment_orange_button">
            For Engineering<br>
            <span>(11th and 12th)</span>
         </div>
      </a>
   </div>
   <div class="package_tenth_class newheight homeboxhover">
      <a onclick="_gaq.push(['_trackEvent', 'AssessmentMainPages', 'Ideal', 'OtherTabHoverStartTest']);" href="/know-your-ideal-career">
         <div border="1" class="home_box_hover1" style="display: block;">
            <div class="assesment_background humanities_guidance"></div>
            <div class="tenth_heading_name">Ideal Career<br>Test</div>
         </div>
         <div border="1" class="home_box_hover2" style="display: none;">
            <div class="package_tenth_hover">
               <div class="idealtop"></div>
               Discover which career options are right for you
               <div class="learn_more_gap">
                  Learn More
                  <span class="NewAssessmentPage linkcircle">&nbsp;</span>
               </div>
            </div>
         </div>
         <div class="new_all_assessment_orange_button">
            <div>For All Age Group</div>
         </div>
      </a>
   </div>
   <div class="package_tenth_class newheight homeboxhover">
      <a class="homeboxhover" href="/know-your-right-vocational-career">
         <div border="1" class="home_box_hover1" style="display: block;">
            <div class="assesment_background engineering_guidance"></div>
            <div class="tenth_heading_name">
               Vocational<br>Career Test
            </div>
         </div>
         <div border="1" class="home_box_hover2" style="display: none;">
            <div class="package_tenth_hover">
               <div class="skilltop"></div>
               Know your right vocational career
               <div class="learn_more_gap">
                  Learn More
                  <span class="NewAssessmentPage linkcircle">&nbsp;</span>
               </div>
            </div>
         </div>
         <div class="new_all_assessment_orange_button">
            <div>For All Age Group</div>
         </div>
      </a>
   </div>
</div>         
      </div>      
   </div>      
   
</div>
